html,
body {
    background-color: rgb(42, 9, 9);
    color: antiquewhite;
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

button {
    font-family: 'Times New Roman', Times, serif;
}

a {
    position: relative;
    text-align: center;
    margin-top: -45px;
    background-color: transparent;
    font-size: small;
    font-style: italic;
    color: antiquewhite;
    text-decoration: none;
    text-shadow: 1px 1px rgba(32, 32, 32, 0.5);
}