@keyframes jumbomove {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-10%);
    }
    100% {
        transform: translateX(0%);
    }
}

.jumbomove {
    animation: jumbomove 20s ease-in-out;
    animation-iteration-count: infinite;
}